body {
	width: 300px;
	height: auto;
	background-color: grey;
}

.body-text {
	margin: auto 10px;
	font-size: 16px;
	color: black;
	border-radius: 6px;
	border: 1px solid lightblue;
	padding: 10px;
	position: relative;
}

.encryption-section {
	margin-top: 4px;
	position: relative;
}
